<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <services>
            <service name="WcfDoc.TestSuite.ServiceContracts.ServiceContractClass">
                <endpoint binding="basicHttpBinding" name="EndpointA" contract="WcfDoc.TestSuite.ServiceContracts.ServiceContractClass" />
            </service>
        </services>
    </system.serviceModel>
</configuration>